<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head')  %>
<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<h2 class="products-title"><%= product.nombre %></h2>
		<div class="product-detail">
			<img src="/images/products/<%= product.imagen %>" alt="<%= product.nombre %>" class="product-detail-img">
			<p>Precio: <%= product.precio %></p>
			<p>Descripción: <%= product.descripcion %></p>
			<p>
				<a href="/users/profile/<%= product.user.id %>" class="descripcion_data" style="text-decoration: underline;">
					Usuario: <%= product.user.nombre %>
				</a>
			</p>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer')  %>

</body>	
</html>