<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head')  %>
<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<h2 class="products-title"><%= product.nombre %></h2>
		<div class="product-detail">
			<img src="/images/products/<%= product.imagen %>" alt="<%= product.nombre %>" class="product-detail-img">
			<p><strong>Precio:</strong> <%= product.precio %></p>
			<p><strong>Descripción:</strong> <%= product.descripcion %></p>
			<p><strong>Usuario:</strong> <%= product.user.nombre %></p>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer')  %>

</body>	
</html>