<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head')  %>
<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<% for (let i = 0; i < results.length; i++) { %>
				<div class="col-12 col-sm-6 col--lg-3">
					<section class="products-box">
						<a href="/catalogo/detalle<%= results[i].id%>">
							<figure class="products-box-img">                        <!--ver nombre con la base de datos-->
								<img src="/images/products/<%= results[i].imagen %>" alt="<%=results[i].nombre%>">
							</figure>     
							<article class="products-box-data">
								<h2 class="descripcion_data">Producto: <%=results[i].nombre%></h2>
								<p class="descripcion_data">Descripción: <%= results[i].descripcion %></p>
								<p class="precio">Precio: <%= results[i].precio %></p>
								<p><a href="/users/profile/<%= results[i].user.id %>" class="descripcion_data"> Usuario: <%= results[i].user.nombre %> </a></p>

							</article>
						</a>
					</section>
				
		  <% } %>


	<%- include('./partials/footer')  %>
</body>

</html>